body{
  font-family:sans-serif;
}
a{
  text-decoration: none;
  color:black;
}
h1{
  background: url(../img/logo.png) no-repeat;
  text-indent:-9999px;
    height: 66px;
    width:236px;

}
nav{
  margin:20px 0 0 0;
}
nav ul{
  text-align: right;
}
nav li{
  display: inline;
  font-size: 17px;
}
.wrap{
  padding:20px 0px;



}
.nav-header{

  background-color: #CCC;
            }
